/* dark blue = rgb(4,43,91)
light blue = rgb(88,225,226)
white = rgb(255,255,255)
teal eyes = rgb(96,246,246)
font blue = rgb(72,158,244) */

*{
    margin:0;
    padding:0;
}


.img {
    width: 100px;
}

.background{
    background-image: url(C:\Users\patso\Documents\GitHub\Inventory_Management\client\public\imgs\whitefood.jpeg);
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: 0;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
}
.background2{
    background-image: url(C:\Users\patso\Documents\GitHub\Inventory_Management\client\public\imgs\knife.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    display: flex;
    height: 100vh;
    width: 100%;
    display: inline-block;
}

.container{
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-style: bold;
    /* background-color: rgb(255,250,250); */
}
.background3{
    background-image: url(C:\Users\patso\Documents\GitHub\Inventory_Management\client\public\imgs\brown.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: center;
    display: flex;
    height: 100vh;
    width: 100%;

}
.background5{
    background-image: url(C:\Users\patso\Documents\GitHub\Inventory_Management\client\public\imgs\pineapple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-evenly;
    display: flex;
    height: 100vh;
    width: 100%;
    display: inline-block;
}
.container3{
    display: flex;
    color:black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-style: bold;
    font-size: 30px;
    padding: 10px;
}
.container4{
    margin-top: 100px;
    display: flex;
    background-color: rgb(96,246,246);
    height:700px;
    width: 700px;
    color: black;
    border-radius: 20%;
    border-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
    font-style: bold;
    margin-left: 37%;
    

}
.btn{
    background-color: white;
    font: 200;
    height: 30px;
    width: 100px;
    padding: 3px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-evenly;
}
.btn2{
    background-color: white;
    height: 30px;
    width: 80px;
    margin-top: 10px;
    font-size: large;
    padding: 3px;
}
.form{
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    margin:5px
}
.headerdiv{
    display: flex;
    z-index: 3;
    padding: 10px;
    justify-content: space-between;
}
.main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: x-large;
}
.table, td{
    border: 3px solid;
}